body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* agrega padding y border al width total del elemento */
}

button {
    background-color: #5c67f2;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5058cc;
}
